<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Megastore</title>

    <link href="styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue"> </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="megastoreController.html">Megastore Controller</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="baskets.html">Baskets</a></li>
          <li><a href="items.html">Items</a></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>

    <div id="megastoreController" class="container">

      <button v-on:click="getAllItems" class="btn btn-success"> New Basket </button>
      <button v-on:click="purchaseBasket" class="btn btn-success">Purchase Basket </button>
      <button   class ="btn btn-default" > Cashier: {{getCashier()}} </button>
      <button v-on:click="logout" class="btn btn-danger">Logout </button>

    <div  id="MyDiv" class="panel panel-warning" v-bind:style="{ height: divHeight + 'px'}"  >
      <select  class="form-control"  v-model="selected" @change="selectedItem()">
          <option disabled value="">Select item</option>
          <option v-for="item in items" >{{ item.name }}</option>
      </select>

      <div>
        <ul class="list-group">
          <li class="list-group-item"  v-for="(s, index) in selectedItemList"  >{{ s }}
          <a v-on:click="removeItem(index)" class="todo-list__delete" href="#">Delete</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <h2>Total Price :  {{totalPrice}}    </h2>
    </div>

    </div>

    <script src="megastoreControllerApp.js"> </script>

  </body>
</html>
